<div class="col-md-6">
  <div class="card card-post p-3 mb-5" style="width: 100%;">
    {{ if .Params.img }}
    <a href="{{ .RelPermalink }}"><img class="card-img-top thumb-post" src="{{ .Permalink }}{{ .Params.img }}" alt="{{ .Title }}"></a>
    {{ else }}
    <img width="100%" class="card-img-top" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}"
      alt="{{ .Site.Title }}">
    {{ end }}
    <div class="card-body">
      <h5 class="card-title">{{ .Params.title }}</h5>
      {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags_small.html" . }}{{ end }}
      {{ if .Params.summary }}
      <p class="card-text">{{ .Params.summary }}</p>
      {{ else }}
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      {{ end }}



      <a href="{{ .RelPermalink }}" class="btn btn-sm btn-outline-secondary mx-auto w-100">Read more</a>
    </div>
  </div>

</div>