<section class="container w-100 p-4">
  <div class="row centered">
    <div class="col-md-3">
      <div class="about">
        {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
          {{ with .Site.Params.avatarURL }}
            <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
          {{ end }}
        {{ end }}
        {{ with .Site.Params.gravatar }}
          <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
        {{ end }}
        {{ with .Site.Params.social }}
        <ul id='social-links'>
          {{ range sort . "weight" }}
            {{ if .icon }}
              <li>
                <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                  <i class="{{ .icon }}" aria-hidden="true"></i>
                </a>
              </li>
            {{ else }}
              <li>
                <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 align-top">
      <div>
      <h2 id="about-title">Hi, I'm Frank</h2>
      <p>I'm a Data Scientist and Researcher in Berlin</p>
      <p>Read more about me <a href="{{ .RelPermalink }}">here</a></p>


      
      </div>
    </div>
    
  </div>

  <div class="row pack p-1 mx-auto align-top" style="width: 100%; margin-top: 50px;">
    <h2>Latest Posts</h2>


      {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
      {{ range first 3 $paginator.Pages }}
      {{ partial "posts/card.html" . }}
     

      {{ end }}
  </div>
  <div class="row pack centered p-1 mx-auto align-top" style="width: 100%;">
    <div class="col-md-3 centered">
      <a href="/posts" class="btn btn-md btn-outline-secondary">See all posts</a>
    </div>
  </div>
</section>
